<form [formGroup] = "searchForm">
    
    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <label>Search:</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- Manga/Anime button group -->
        <div class="col-12 col-lg-3 d-flex justify-content-center">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="Anime" checked (click)="setType('anime')">Anime</mat-button-toggle>
                <mat-button-toggle value="Manga" (click)="setType('manga')">Manga</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <div class="col-12 col-lg-9 d-flex mt-3 justify-content-around">
            <button type="button" class="btn btn-lg btn-outline-dark" [routerLink]="['/searchhistory']">Back</button>
            <button type="button" class="ml-2 btn btn-lg btn-outline-primary" [disabled]="searchForm.invalid" (click)="onSave()">Save</button>
            <button type="button" class="ml-2 btn btn-lg btn-outline-success" (click)="goToResults()" [disabled]="searchForm.invalid">Search</button>
        </div>
    </div>

   
    
    <br><br>
   

</form>


